<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .footer {
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: black; /* Set black background */
            color: white; /* Set white text color */
            text-align: center;
            height: 80px; /* Adjust the height to make the footer bigger */
        }
        .example4 {
            font-family: 'Courier New', monospace;
            color: white; /* Set a different color */
        }
    </style>
</head>

<body>

    <div class="footer example4">
      <br>
        <p> 
            &copy; Made In India 2024 | Ravi Teja Indla | Exceed Project | IARE
        </p>
    </div>

</body>

</html>
<!--
developed By : Raviteja Indla
-->
